@media screen and (min-device-width : 20px) and (max-width : 500px) {
    .content7 {
        width: 100% !important;
      }
      .coinContainer {
        width: 100% !important;
        
    }

}
.section5 {
    background-color: white;
    margin-top: 8rem;
}

.content7{
    width: 900px;
    margin: auto;
    margin-bottom: 3rem;
}
.section5 h1{
    text-align: center;
    padding-top: 7rem;
    font-size: 50px;
}
.content7 p{
    padding-top: 3rem;
    text-align: center;
    font-size: 25px;
}
.coinContainer {
    width: 500px;
    margin: auto;
    text-align: center;
    padding-bottom: 8rem;
    
}
.coinContainer img {
    padding: 1rem
}



@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}
