@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
body {
  font-family: 'Asap Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  }
.home-container {
  background-image: linear-gradient( #031315, #0b3036, #1c5769);
  width: 100%;
  
  
  }
@media screen and (min-device-width : 20px) and (max-width : 960px) {
    .section1 {
      flex-direction: column;
      width: 100%;
      margin: auto;
    }
    .section2 {
      flex-direction: column;
      width: auto;
      margin: auto;
    }
    nav {
    background: #033E3E;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem calc((100vw - 1000px) / 2) !important;
    z-index: 12;
    position: sticky;
    top: 0;
    }

}
.section1 {
  color: white;
  align-items: center;
  display: inline-flex;
  width: 100%;
  background-image: url(./img/blockchainBackground.gif);

}
.text-line {
  font-size: 3.5rem;
  text-align: right;
  margin-right: 20px;
}
.text-logo {
  color:#EDE275;
}

.logo {
  animation-name: spin3D;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: ease-in-out;
}

@keyframes spin3D {
  from { transform: rotateY(0deg) }
  to { transform: rotateY(360deg) }
}

/*  Begin Home 2*/
.section2 {
  color: white;
  width: auto;
  margin: auto;
  padding: 20px;

}
.section2 h2{
  font-size: 50px;
}
.section2 p {
  font-size: 25px;
}



.some-page-wrapper {
  margin: 15px;
}

.content3{
  margin-top: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}


.first-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
}
.text1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  margin: auto;
}

.second-column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
}
.text2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  margin: auto;
}


/*  Begin Home 3*/
.section3 {
  color: white;
  width: auto;
  margin: auto;
  padding: 20px;
}
.section3 h2{
  font-size: 50px;
}
.section3 p {
  font-size: 25px;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}

.column2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-top: 2rem;
}

.first-column2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
}
.text2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  margin: auto;
}

.second-column2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; 
}
.text3 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  margin: auto;
}
.social {
  margin-left: 10px;

}

.social:hover {
  background-color: grey;
  border-radius: 10%;

}